.cdk-drag-preview {
  box-shadow: 5px 5px 7px 3px rgba(50, 50, 50, 0.1),
    1px 1px 5px 1px rgba(50, 50, 50, 0.05);
}

.cdk-drag-placeholder {
  visibility: hidden;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.todo-list.cdk-drop-list-dragging .todo-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.todo-input {
  width: 100%;
  padding: 20px 30px;
  margin-left: 80px;
  border-radius: 10px;
  max-width: 540px;
  border: none;
  outline: none;
  margin-right: 10px;
  &::placeholder {
    color: var(--color-medium-grey);
  }
}

.todo-input-container {
  width: 100%;
  padding: 20px;
  display: flex;
  left: 0px;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  background: var(--color-light-grey);
}
