input {
  width: 100%;
  padding: 20px 30px;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  &::placeholder {
    color: var(--color-medium-grey);
  }
}

.todo-container {
  display: block;
  flex-direction: column;
  width: 100%;
  max-width: 560px;
  padding: 20px;
  overflow: hidden;
}

.todo-item {
  display: flex;
  margin: 10px 0;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.05),
    1px 1px 5px 1px rgba(50, 50, 50, 0.05);
  background: white;
  cursor: move;
}

.cdk-drag-preview {
  box-shadow: 5px 5px 7px 3px rgba(50, 50, 50, 0.1),
    1px 1px 5px 1px rgba(50, 50, 50, 0.05);
}

.cdk-drag-placeholder {
  visibility: hidden;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.todo-list.cdk-drop-list-dragging .todo-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
