<section class="todo-container">
  <h1>Todos</h1>
  <section
    cdkDropList
    [cdkDropListData]="todos"
    (cdkDropListDropped)="drop($event)"
    class="todo-list"
  >
    <app-todo-item
      cdkDrag
      [cdkDragDisabled]="todo.isEditing"
      (updateText)="updateText($event)"
      (toggleDragging)="toggleDragging($event)"
      (completeEdit)="completeEdit($event)"
      class="todo-item"
      *ngFor="let todo of todos"
      [id]="todo.id"
      [text]="todo.text"
      (itemDeleted)="delete($event)"
      (itemArchived)="archive($event)"
      (itemPutBack)="putBack($event)"
      [revivable]="false"
      >{{ todo.name }}</app-todo-item
    >
  </section>
  <section class="todo-input-container">
    <input
      class="todo-input"
      type="text"
      [formControl]="form"
      (keyup.enter)="add()"
      placeholder="Enter todo, hit enter."
    />
  </section>
</section>
