<section class="todo-container">
  <section class="todo-header">
    <h1>Trash</h1>
    <button *ngIf="todos.length" class="empty-button" (click)="deleteAll()">
      <ion-icon name="trash-outline"></ion-icon>
      <p>Empty</p>
    </button>
  </section>
  <section class="todo-list">
    <app-todo-item
      class="todo-item"
      *ngFor="let todo of todos"
      [id]="todo.id"
      [text]="todo.text"
      [completeable]="false"
      [editable]="false"
      [revivable]="true"
      (itemDeleted)="delete($event)"
      (itemPutBack)="putBack($event)"
      >{{ todo.name }}</app-todo-item
    >
  </section>
</section>
