<article
  class="todo-item-inner"
  [class.draggable]="editable"
  [class.fade]="isDone || isDeleted"
>
  <div *ngIf="completeable" class="checkbox-container">
    <input (click)="archive()" type="checkbox" id="{{ id }}" />
    <label class="checkbox" for="{{ id }}"></label>
  </div>
  <div class="todo-text">
    <span
      [attr.contenteditable]="editable"
      (mouseover)="disableDragging(); startEdit()"
      (mouseleave)="activateDragging()"
      (input)="changeText($event.target.innerText)"
      (blur)="stopEdit($event)"
      (keydown.enter)="stopEdit($event)"
      >{{ text }}</span
    >
  </div>
  <div class="action-buttons">
    <button (click)="putBack()" *ngIf="revivable">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </button>
    <button (click)="delete()">
      <ion-icon name="trash-outline"></ion-icon>
    </button>
  </div>
</article>
