ion-icon {
  font-size: 24px;
}

ion-icon[name='trash-outline'] {
  color: var(--color-medium-red);
}

ion-icon[name='arrow-undo-outline'] {
  color: var(--color-medium-green);
}

button {
  border: none;
  background: none;
  padding: 10px 12px;
  margin-right: 10px;
  height: 45px;
  border-radius: 5px;
  outline: none;
  display: flex;
  justify-self: flex-end;
  &:hover {
    background: var(--color-very-light-grey);
  }
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']:hover + .checkbox {
  box-shadow: inset 0px 0px 0px 4px white;
  background-color: #5ec095;
  border: 2px solid #5ec095;
}

.action-buttons {
  visibility: hidden;
  display: flex;
  padding-left: 40px;
  position: absolute;
  align-content: flex-end;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.9) 20%,
    rgba(255, 255, 255, 1) 60%
  );
  height: 100%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.checkbox-container {
  padding: 10px;
  padding-left: 5px;
  display: flex;
}

.checkbox {
  border: 2px solid var(--color-medium-grey);
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.todo-text {
  margin-right: auto;
  margin-left: 5px;
  padding-bottom: 3px;
  min-width: 10%;
  display: flex;
  span {
    display: inline-block;
    cursor: text;
    outline: none;
    width: 100%;
  }
}

.fade {
  opacity: 0;
  animation-duration: 150ms;
  animation-name: fade-out;
  animation-iteration-count: 1;
}

.draggable {
  cursor: move;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
